html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  position: relative;
  font-size: 137.5%;
}

.jumbotron {
  top: 2em;
  height: calc(100% - 2em);
  width: 100%;
  position: absolute;
}

.website {
  left: -50%;
  width: 50%;
  position: fixed;
}

.website-menu {
  display: inline;
}

.website-menu li {
  height: 2em;
  padding: 0.5em;
  cursor: pointer;
}

.website-close {
  float: left;
}

.website-condense {
  float: right;
}

.website-expand {
  float: right;
} 

#websitedata {
  position: relative;
  top: -1em;
  height: calc(100% - 2em);
}

#menu ul {
  display: inline;
  padding: 0px;
  z-index: 1;
}

#menu ul li {
  padding: 0.5em;
  padding-top: 0.25em;
  cursor: pointer;
}

#menu ul li ul {
  top: 2em;
  position: absolute;
  left: 0;
  width: 9.5em;
}

#menu ul li ul li { 
  background: white;
}

/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { 
body {
        font-size: 275%;
	}
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { 
body {
        font-size: 206.25%;
	}
}

/* iPhone 5/5S */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) { 
body {
        font-size: 77.46%;
	}
}